.posts{
    background-color: #f9f9f9;
    padding : 40px 20px;
    padding-bottom:0;
    display: flex;
    margin-top: 10px;
}

.posts > h2 {
    margin-right: 5px;
    
}

.post{
    display: flex;
    flex-wrap: wrap;
}